html, body {
	height: 100%;
	width: 100%;
}

.wrapper {
	display: flex;
	justify-content: space-between;
	height: 100%;
	width: 100%;
  margin-top: 50px;
}

.top-margin {
  margin-top: 5px;
}

nav {
  height: 70px;
  padding-left: 35px;
}

footer .navbar-text {
  font-size: 2rem;
  color: #fff !important;
  line-height: 2em;
}

footer a {
  color: #fff;
}

footer a:hover {
  color: red;
  text-decoration: none;
}

.fa-code {
  color: #2AABE2;
}

.fa-heart {
  color: red;
}

.fa-glide-g {
  color: #000;
}
